:root{
    --while-color:#fff;
    --black-color:#000;
    --text-color:#333;
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.grid{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display:flex;
    flex-wrap: wrap ;
}
.header__order{
    margin-left: 40px;
    color: #333;
    font-size: 14px;
    line-height: 14px;
    padding: 10px 10px;
    width: 9%;
    height: 50px;
    margin-top: 5px;
    border-radius: 4px;
    text-align: center;
    float: left;
    text-decoration: none;
    background: rgba(255,172,10,.6);
}
.header__cart{
    text-decoration: none;
    border-radius: 4px;
    color: #333;
    font-size: 12px;
    line-height: 14px;
    padding: 10px 10px;
    width: 9%;
    height: 50px;
    margin-top: 5px;
    background: rgba(255,172,10,.6);
}
.header__addres{
    text-decoration: none;
    color: #333;
    font-size: 12px;
    line-height: 18px;
    margin-right: 21px;
    width: 12%;
    height: 50px;
    margin-top: 5px;
    background: rgba(255,172,10,.6);
    padding: 4px 6px 4px 10px;
    border-radius: 4px;
    position: relative;
}
